
<div class="container px-4">
    <div class="d-flex justify-content-center form_container">
      <div class="col">
          <div class="p-3 border bg-light">
    
    <form #addForm="ngForm">
        
        <div class="row justify-content-center space">
            <h3>Balance: {{currentPlayer.balance | number: '2.'}}</h3>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-append">
            </div>
            <input type="number" ngModel name="amount" step="0.01" class="form-control input_user" placeholder="amount" required>
        </div>
        <div class="row justify-content-center">
            <select ngModel name="selectedPlayer" class="form-select form-select-sm" aria-label=".form-select-sm example" required>
                <option selected>--Select player--</option>
                <option *ngFor="let player of players | async" [ngValue]="player">{{player.username}}</option>
            </select>
        </div>
        <div class="row justify-content-center">
        
        <div class="radio">
            <input class="form-check-input" type="radio" ngModel name="multiplier" id="flexRadioDefault1" value="million">
            <label class="form-check-label" for="flexRadioDefault1">
                M
            </label>
        </div>
        <div class="radio">
            <input class="form-check-input" type="radio" ngModel name="multiplier" value="thousand" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                K
            </label>
        </div>
        
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button [disabled]="addForm.invalid" (click)="transferMoney(addForm)" type="button" name="button" class="btn login_btn">Transfer</button>
        </div>
    
    </form>
<div class="d-flex justify-content-center back">
    <button routerLink="/game" class="btn btn-danger">Back</button>
</div>
<!--<div *ngFor="let player of players"><div>{{player.username}}: {{player.balance}}</div></div>-->	

</div>